In [3]:
import pandas as pd

conditions =['confirmed','deaths','recovered']




global_df = make_global_df()
global_df

        date  confirmed   deaths  recovered
0    1/22/20        557       17         30
1    1/23/20        655       18         32
2    1/24/20        941       26         39
3    1/25/20       1433       42         42
4    1/26/20       2118       56         56
..       ...        ...      ...        ...
594   9/7/21  221932892  4586278          0
595   9/8/21  222559803  4596394          0
596   9/9/21  223180491  4605721          0
597  9/10/21  223848084  4616846          0
598  9/11/21  224269884  4624864          0

[599 rows x 4 columns]